.wrapper

  / .info-bar
  /   .container
  /     %a.icon.cmn-tut{data:{title:"About"}}
  /     %a.icon.cmn-download{data:{title:"Skills"}}
  /     %a.icon.cmn-archive{data:{title:"Contact"}}

  %main{data: {txtids: ['introTitle', 'projectsTitle', 'backgroundTitle', 'tikTitle', 'contactTitle']}}
    %a{name: "intro"}
    %section#intro
      .module.parallax.full#intro
        %canvas#introTitle{data: {percentH: 1.2, paddingW: 0.2, paddingH: 0.3, text: "my name is: Pete Brooks and: I like to write code"}}
        / %canvas#introTitle{data: {percentH: 1, paddingW: 0.2, paddingH: 0.3, text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit."}}
        .arrow
          %a{href: "#projects"}
            %i.icon.ion-chevron-down.animate-fade

    %a{name: "projects"}
    %section
      .module.parallax.title#projects
        %canvas#projectsTitle{data: {text: "projects"}}
      .module.content.full
        .container
          .row.clearfix
            .col.quarter.animate-icon
              = render :partial => "context_icon"
            .col.three-quarters
              %p Context
              %p A real-time chat platform for interacting with other users currently browsing the same web page. It unifies web commenting on a single platform and on a live basis. The Context platform is site agnostic - it will work on any page on the Internet.
              %p
                <a href: "https://chrome.google.com/webstore/detail/context/bdedbolefbekcmfkjnffkoabnclfbcmh?utm_source=chrome-ntp-icon">Chrome Web Store</a>  |  <a href: "https://github.com/ryanbahniuk/context">Github</a>
          .row.clearfix
            .col.quarter.animate-icon
              = render :partial => "working_title_icon"
            .col.three-quarters
              %p Working Title
              %p A writing collaboration engine where users can contribute to branches of a project as well as view a tree visualization of a project's evolution.
              %p
                %a{href: "https://github.com/petebrooks/working-title"} Github
        .arrow
          %a{href: "#background"}
            %i.icon.ion-chevron-down.animate-fade

    %a{name: "background"}
    %section
      .module.parallax.title#background
        %canvas#tikTitle{data: {text: "things I know"}}
      .module.content.half
        .container.mobile-only
          %p
            Ruby, Javascript, HTML + CSS, Processing, Angular, Rails, Sinatra, jQuery, React, D3, Grunt, RSpec, Jasmine, Postgres, SQLite3
        .container.wide-only
          .row.clearfix.close
            .col.fifth
              %p
                Languages
            .col.four-fifths
              %p
                Ruby, Javascript, HTML + CSS, Processing
          .row.clearfix.close
            .col.fifth
              %p
                Frameworks
            .col.four-fifths
              %p
                Angular, Rails, Sinatra
          .row.clearfix.close
            .col.fifth
              %p
                Libraries
            .col.four-fifths
              %p
                jQuery, React, D3
          .row.clearfix.close
            .col.fifth
              %p
                Other
            .col.four-fifths
              %p
                Grunt, Yeoman, RSpec, Jasmine, Postgres, SQLite3

      .module.parallax.title#background
        %canvas#backgroundTitle{data: {text: "education"}}
      .module.content.half
        .container
          %p
            University of Chicago
          %small
            2010 - 2014
          %small
            BA, Philosophy
          %p
            Dev Bootcamp
          %small
            June 2014 - October 2014

        .arrow
          %a{href: "#contact"}
            %i.icon.ion-chevron-down.animate-fade

    %a{name: "contact"}
    %section
      .module.parallax.title#contact
        %canvas#contactTitle{data: {text: "contact"}}
      .module.content.full
        .container
          %p
            peterossbrooks@gmail.com
          %p
            %a{href: "/resume", target: 'blank'}
              resume
          %p
            %a{href: "http://www.github.com/petebrooks", target: 'blank'}
              %i.icon.ion-social-github
            %a{href: "https://www.linkedin.com/in/peterossbrooks", target: 'blank'}
              %i.icon.ion-social-linkedin
          %p.hide
            P.S. Try out the site on a real computer
        .arrow
          %a{:href => "#intro"}
            %i.icon.ion-chevron-up.animate-fade

/ # = javascript_include_tag 'welcome.js'
