.wrapper
  %main.jellyvision{data: {txtids: []}}
    %section
      %h1 if I could work anywhere it would definitely be jellyvision.
      %h2 seriously.
      %a{:href => "/"}
        %i.icon.ion-arrow-right-c
%script console.log("hire me!")