.wrapper
  %main.jellyvision{data: {txtids: []}}
    %section
      .row.clearfix
        %h1 if I could work anywhere it would definitely be jellyvision.
      .row.clearfix
        .col.half
          %h2 seriously. *
        .col.half
          .more
            %a{:href => "/"}
              mind if I say more?
              %i.icon.ion-arrow-right-c
      %p * I <span id="really"></span> mean it.
%script console.log("hire me!")