.wrapper
  %main.special{data: {txtids: []}}
    %section
      .row.clearfix
        %h1 Dear <span class="permute">Vodori</span>,
      .row.clearfix
        %h1 My name is Pete Brooks.
        %h1 You do amazing work, and there's no team I'd rather be part of.
      .row.clearfix
        %h2
          %a{:href => "/"}
            mind if I say more?
            %i.icon.ion-arrow-right-c
%script console.log("Wanna know how much I mean it?\nSo much I logged it to your console.\n(Thanks for checking, by the way.)")