// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.blog {
  margin: 0 auto;
  .container {
    width: 90%;
  }

  .post.mini {
    border: 1px solid black;
  }
}